__pycache__
test_tmp/
test_vol
junk2
junk*
test
dataset/global_maps/*png
bin/dataset/cc_feature_time.h5
1.png
2.png
correlation.png
correlation2.png
correlation3.png
correlation4.png
test.ipynb
test_speed/
test_station_selection/