01_workspace/earth1d.grd.txt
01_workspace/earth1d.mod.txt
01_workspace/earth1d.mp4
01_workspace/pics/
03_workspace/ev-sta.txt
03_workspace/raypath.h5
04.log
04_workspace/
06_workspace/cc.txt
06_workspace/cc_sens.h5
../old/

01_workspace/plume.grd.txt
01_workspace/plume.mod.txt
06.log
01_workspace/pics_plume/
01_workspace/plume.mp4
**/**.png
**/*.png
08_workspace/cScP.txt
07_workspace/
